/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffde57; /* Light gray background */
}

.header {
  /* width: 100%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 30px;
  background-color: white; 
text-align: left;    

}

.logo {
  width: 5%; /* Slightly larger logo */
}
img{
  vertical-align: middle;
}
.header-image {
  width: 30%; 
  height: auto;
  margin-bottom: 10px;
}
/* Main content styling */
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem; /* Space between items */
  padding: 20px;
}

/* Section styling */
section {
  background: #fff; /* White background for sections */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 2px 25px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Heading styling */
h2 {
  color: #333; /* Dark color for headings */
  border-bottom: 2px solid #007bff; /* Blue underline */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Button styling */
.challenge-btn {
  background-color: #4584b6; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 1.3rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background color and scaling */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

.challenge-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.challenge-btn:active {
  transform: scale(0.98); /* Slightly scale down on click */
}

section {
  transition: transform 0.3s ease; /* Smooth transition for the enlargement effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for a card-like appearance */
  border-radius: 8px; /* Optional: Add rounded corners */
  overflow: hidden; /* To prevent content overflow during the scaling */
}

section:hover {
  transform: scale(1.02); /* Scale the card up slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover for emphasis */
}
.show-answer-btn {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline block for proper alignment */
  font-size: 16px; /* Font size */
  margin: 10px 0; /* Margin for spacing */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}
.show-answer-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}
.show-answer-btn:active {
  background-color: #397d34; /* Even darker green on click */
}

.answer-img {
  display: none; /* Initially hide the images */
  width: 100%;
  max-width: 900px;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px; /* Space between items */
  padding: 20px;
  margin: auto;
  justify-content: center;
}

.goback{
  background-color: #FFA24C;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 1.3rem;
cursor: pointer;
transition: background-color 0.3s, transform 0.2s;
display: flex;
margin: 0 1rem;
/* justify-content: center; */
/* align-items: center; */
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

section{
  p{
      font-size: 1.2rem;
  }
}

.image-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.fullscreen-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fullscreen-icon img {
  width: 20px;
  height: 20px;
}
